# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
dist/

# Production
build/

# Debug
npm-debug.log*

# Env
.env*.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
